#publicar{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
#contenido{
    margin: 0 5% 5% 5%;     
    padding: 5%;
    background-color: rgb(204, 190, 0);
}
#contenido label{
    color: #ffffff;
}
#pagar{
    margin-top: 3%;
}
#publicar h1{
    margin: 2%;
    color: #ffffff;
}